<% if resource.errors.any? %>
  <div id="error_explanation">
    
    

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-danger">
          <h3>Please correct this following errors:</h3>
          <ul>
            <% resource.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

      
  </div>
<% end %>
