<div class="form-group">
    <%= f.label :address, class: "control-label col-md-3", id: "formlabel" %> 
    <div class="col-md-8">
        <%= f.text_area :address,class: "form-control" %>
    </div>
    <%= f.hidden_field :_destroy %>
    <% if $counta != 1%>
        <%= link_to 'Delete', '#', class: 'remove_record2',  id: 'deleteradd'  %>
    <% end %>    
</div>  
       
    
    
        
    
    